.bg{
    width: 300px;
    height: 350px;
    background-color: blue;
}
@media(min-width:450px){
    .bg{
        background-color: red;
    }
}
@media(min-width:550px){
    .bg{
        background-color: green;
    }
}
@media(min-width:650px){
    .bg{
        background-color: orange;
    }
}
@media(orientation:landscape){
    
    @media(min-width:450px){
        .bg{
            background-color: violet;
        }
    }
    @media(min-width:550px){
        .bg{
            background-color: yellow;
        }
    }
    @media(min-width:650px){
        .bg{
            background-color: gray;
        }
    }
}

 
